<!DOCTYPE html>
<html style="font-size: 12px">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
	<meta name="description" content="好微课成就好教师，好教师成就好机构；首届伯索杯·微课大赛投票进行中，快来投上一票吧~" />
	<title>伯索杯·微课大赛投票评选</title>
	<script src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
	<script src="//at.alicdn.com/t/font_ktt2c9s99pddvx6r.js"></script>
</head>
<body>
</body>
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?6a0d2494a13505549464a56ab14860db";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
</html>